[submodule "Pathways"]
	path = Pathways
	url = https://github.com/ir272/Pathways.git
[submodule "Playa"]
	path = Playa
	url = https://github.com/R0H1T-RAJU/Playa.git
[submodule "playa-mood-synth"]
	path = playa-mood-synth
	url = https://github.com/profarav/playa-mood-synth.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/HackTX-Project/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/HackTX-Project/backend.git
